<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <h3>Về chúng tôi</h3>
                <img src="images/about_img.jpg" alt="">
                <p>
                    Công ty Cổ phần Đầu tư Thế Giới Di Động (MWG) là nền tảng bán lẻ đa ngành nghề số 1 Việt Nam về doanh thu và lợi nhuận.

                    Với chiến lược omni-channel, Công ty vận hành mạng lưới hàng ngàn cửa hàng trên toàn quốc song song với việc tận dụng hiểu biết sâu rộng về khách hàng thông qua nền tảng dữ liệu lớn, năng lực chủ động triển khai các hoạt động hỗ trợ bán lẻ được xây dựng nội bộ và liên tục đổi mới công nghệ nhằm tạo ra trải nghiệm khách hàng vượt trội và thống nhất ở mọi kênh cũng như nâng cao sự gắn kết của người tiêu dùng với các thương hiệu của MWG.

                    Trong hệ sinh thái của MWG, ngoài các công ty con chuyên vận hành chuỗi bán lẻ (thegioididong.com, Điện Máy Xanh, Bách Hóa Xanh, nhà thuốc An Khang...) còn có các công ty chuyên cung cấp dịch vụ có liên quan như dịch vụ hậu mãi - bảo trì - lắp đặt, dịch vụ giao hàng chặng cuối, dịch vụ quản lý kho vận logistics, mảng phân phối sản phẩm nông nghiệp an toàn 4KFarm...Công ty cũng mở rộng kinh doanh ra thị trường nước ngoài với liên doanh bán lẻ điện máy tại Indonesia.
                </p>               
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Thành tựu đạt được</h3>
                <div class="history-desc">
                    <div class="year"><p>1998 -</p></div>
                    <p class="history">MWG tập trung xây dựng dịch vụ khách hàng khác biệt với chất lượng vượt trội, phù hợp với văn hoá đặt khách hàng làm trung tâm trong mọi suy nghĩ và hành động của công ty. 3 thương hiệu lớn của MWG đều nằm trong top 50 thương hiệu giá trị nhất Việt Nam (The Brand Finance).</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>2021 -</p></div>
                    <p class="history">MWG nhiều năm liền có tên trong các bảng xếp hạng danh giá như TOP 500 nhà bán lẻ hàng đầu Châu Á – Thái Bình Dương (Retail Asia), TOP 50 công ty kinh doanh hiệu quả nhất Việt Nam (Nhịp Cầu Đầu Tư), TOP 50 công ty niêm yết tốt nhất Châu Á của tạp chí uy tín Forbes… Sự phát triển của MWG cũng là một điển hình tốt được nghiên cứu tại các trường Đại học hàng đầu như Harvard, UC Berkeley, trường kinh doanh Tuck (Mỹ).</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>2022 -</p></div>
                    <p class="history">MWG vinh dự khi là đại diện Việt Nam duy nhất trong Top 100 nhà bán lẻ hàng đầu Châu Á – Thái Bình Dương do Tạp chí bán lẻ châu Á (Retail Asia) và Tập đoàn nghiên cứu thị trường Euromonitor bình chọn.</p>
                    <div class="clear"></div>
                </div>            
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Cam kết</h3>     
                <div class="list">
                    <ul>
                        <li><a href="#">Đóng góp cho cộng đồng thông qua việc tạo hàng chục ngàn việc làm và đóng góp đầy đủ thuế cho ngân sách nhà nước</a></li>
                        <li><a href="#">Mang đến cho quản lý: Một sân chơi công bằng để thi thố tài năng / Một cam kết cho một cuộc sống cá nhân sung túc / Một vị trí xã hội được người khác kính nể.</a></li>
                        <li><a href="#">Đặt khách hàng làm trung tâm trong mọi suy nghĩ và hành động của mình.</a></li>
                        <li><a href="#">Mang đến cho các đối tác sự tôn trọng.</a></li>
                        <li><a href="#">Mang đến cho nhân viên một môi trường làm việc TÔN TRỌNG và CÔNG BẰNG.</a></li>
                        <li><a href="#">Mang đến cho nhà đầu tư giá trị doanh nghiệp gia tăng không ngừng.</a></li>                     
                    </ul>
                </div>             
            </div>
        </div>
    </div>
</div>
