<div class="main">
    <div class="content">
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="~/wwwroot/images/Products/newsimg1.jpg" alt="" />
            </div>
            <div class="grid news_desc">
                <h3>Thế Giới Di Động lần thứ 9 liên tiếp được vinh danh trong “TOP 50 Công ty Kinh doanh Hiệu quả nhất Việt Nam” kể từ khi niêm yết</h3>
                <h4>Ngày đăng: 05/12/2022 bởi <span><a href="#">Finibus Bonorum</a></span></h4>
                <p>
                    Ngày 01/12/2022, Thế Giới Di Động (MWG) vừa được vinh danh trong "TOP 50 Công ty Kinh doanh Hiệu quả nhất Việt Nam”. Đây là lần thứ 9 liên tiếp công ty nhận được giải thưởng này kể từ khi niêm yết.

                    Thế Giới Di Động ghi nhận kết quả kinh doanh ấn tượng với tốc độ tăng trưởng doanh thu kép 5 năm (5-year CARG): 12.4%, lợi nhuận trên vốn chủ sở hữu (ROE): 30.7%, lợi nhuận trên cổ phiếu (Stock Return): 142.8% <a href="#" title="more">[....]</a>
                </p>
            </div>
        </div>
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="~/wwwroot/images/Products/newsimg2.jpg" alt="" />
            </div>
            <div class="grid news_desc">
                <h3>Thông tin không chính xác về các khoản đầu tư ngắn hạn của MWG</h3>
                <h4>Ngày đăng: 02/11/2022 bởi <span><a href="#">Finibus Bonorum</a></span></h4>             
                <p>
                    Kính gửi Quý Cổ đông,

                    Gần đây Công ty nhận được một số câu hỏi của quý Cổ đông liên quan đến các tin đồn và những trao đổi thông tin không chính xác trên mạng xã hội về các khoản đầu tư ngắn hạn của MWG.

                    Trước hết, MWG luôn đề cao sự minh bạch và an toàn cho tài sản của Công ty và các Cổ đông. Bằng thông báo này, chúng tôi chính thức phản hồi đến quý Cổ đông như sau:

                    Trong Báo cáo Tài chính (BCTC) hợp nhất quý 3/2022 đã công bố ngày 28/10/2022, Công ty có khoản mục “Đầu tư Tài chính ngắn hạn” với giá trị 8.846 tỷ đồng bao gồm 7.235 tỷ đồng là các khoản tiền gửi tại các ngân hàng uy tín và không có vấn đề về thanh khoản, có thời hạn còn lại từ 1 - 6 tháng và 1.611 tỷ đồng là các khoản đầu tư vào trái phiếu ngắn hạn. <a href="#" title="more">[....]</a>
                </p>
            </div>
        </div>
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="~/wwwroot/images/Products/newsimg3.jpg" alt="" />
            </div>
            <div class="grid news_desc">
                <h3>AVAKids đồng hành cùng VNPR & Quỹ Operation Smiles VN trong giải chạy gây quỹ từ thiện Color Run For Smiles 2022</h3>
                <h4>Ngày đăng: 21/11/2022 bởi <span><a href="#">Finibus Bonorum</a></span></h4>              
                <p>Giải chạy bộ Color Run For Smiles 2022 đã được tổ chức thành công vào ngày 20/11 với gần 3000 người tham dự. Kết quả từ chương trình lần này dự kiến sẽ giúp thêm 100 em nhỏ có cơ hội phẫu thuật dị tật hàm mặt trong năm 2023. <a href="#" title="more">[....]</a></p>
            </div>
        </div>
    </div>
</div>
