<!DOCTYPE HTML>
<head>
    <title>Mobile Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/Client/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/Client/css/global.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/Client/css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Assets/Client/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Assets/Client/js/move-top.js"></script>
    <script type="text/javascript" src="~/Assets/Client/js/easing.js"></script>
    <script type="text/javascript" src="~/Assets/Client/js/easyResponsiveTabs.js"></script>
    <script type="text/javascript" src="~/Assets/Client/js/slides.min.jquery.js"></script>
    <script type="text/javascript" src="~/Assets/Client/js/startstop-slider.js"></script>
    <script type="text/javascript" src="~/Assets/Client/js/active.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                @{ Html.RenderAction("TopMenu", "Home");}
                <div class="clear"></div>
            </div>
            <div class="header_top">
                <div class="logo">
                    <a href="/Home/Index"><img src="~/Assets/Client/images/logo.png" alt="" /></a>
                </div>
                @{ Html.RenderAction("HeaderCart", "Home");}
                <script type="text/javascript">
                    function DropDown(el) {
                        this.dd = el;
                        this.initEvents();
                    }
                    DropDown.prototype = {
                        initEvents: function () {
                            var obj = this;

                            obj.dd.on('click', function (event) {
                                $(this).toggleClass('active');
                                event.stopPropagation();
                            });
                        }
                    }

                    $(function () {

                        var dd = new DropDown($('#dd'));

                        $(document).click(function () {
                            // all dropdowns
                            $('.wrapper-dropdown-2').removeClass('active');
                        });

                    });
                </script>
                <div class="clear"></div>
            </div>
            <div class="header_bottom">
                <div class="menu">
                    <ul>
                        <li><a href="/Home/Index" id="home-link">Trang chủ</a></li>
                        <li><a href="/san-pham" id="product-link">Sản phẩm</a></li>
                        <li><a href="/gioi-thieu" id="about-link">Về chúng tôi</a></li>
                        <li><a href="/tin-tuc" id="news-link">Tin tức</a></li>
                        <li><a href="/lien-he" id="contact-link">Liên hệ</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="search_box">
                    <form action="/tim-kiem" method="get">
                        <input type="text" placeholder="Nhập từ khoá cần tìm ..." id="txtKeyword" name="keyword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            @Html.Partial("_Slider")
        </div>
        @RenderBody()
    </div>
    <div class="footer">
        <div class="wrap">
            <div class="section group">

                <div class="col_1_of_4 span_1_of_4">
                    <h4>Tại sao chọn chúng tôi</h4>
                    <ul>
                        <li><a href="gioi-thieu">Về chúng tôi</a></li>
                        <li><a href="contact.html">Dịch vụ khách hàng</a></li>
                        <li><a href="#">Từ khóa tìm kiếm</a></li>
                        <li><a href="lien-he">Liên hệ với chúng tôi</a></li>
                        <li><a href="#">Gợi ý tìm kiếm</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Tài khoản của tôi</h4>
                    <ul>
                        <li><a href="/Admin/Login">Đăng nhập</a></li>
                        <li><a href="index.html">Xem giỏ hàng</a></li>
                        <li><a href="#">Sản phẩm yêu thích</a></li>
                        <li><a href="#">Đơn hàng của tôi</a></li>
                        <li><a href="lien-he">Trợ giúp</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Liên hệ</h4>
                    <ul>
                        <li><span>+84-983582448</span></li>
                    </ul>
                    <div class="social-icons">
                        <h4>Theo dõi chúng tôi</h4>
                        <ul>
                            <li><a href="#" target="_blank"><img src="~/Assets/Client/images/facebook.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="~/Assets/Client/images/twitter.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="~/Assets/Client/images/skype.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="~/Assets/Client/images/dribbble.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="~/Assets/Client/images/linkedin.png" alt="" /></a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy_right">
            <p>&copy; 2022 Mobile Shop. | Design by <a href="#">Vũ Minh Mạnh</a></p>
        </div>
    </div>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
    @RenderSection("jsFooter", required: false)
</body>
</html>