@model List<WebBanDienThoai.Models.CartItem>

<div class="cart">
    @if (Session["user"] != null)
    {
        <p>
            <span><a href="/Cart"><img src="~/wwwroot/images/Products/Shopping_Cart.jpg" style="width: 30px;height: 30px"/></a>Giỏ hàng:</span><div id="dd" class="wrapper-dropdown-2">
                @Model.Count sản phẩm - @(Model.Sum(x => x.Product.Price.GetValueOrDefault(0) * x.Quantity).ToString("N0")) VND
                <ul class="dropdown">
                    <li>Bạn có @Model.Count sản phẩm trong giỏ hàng!</li>                   
                </ul>
            </div>
        </p>
    }
    else
    {
        <p>
            <span><a href="/Cart"><img src="~/wwwroot/images/Products/Shopping_Cart.jpg" style="width: 30px;height: 30px" /></a>Giỏ hàng:</span><div id="dd" class="wrapper-dropdown-2">
                0 sản phẩm - 0 VND
                <ul class="dropdown">
                    <li>Bạn có 0 sản phẩm trong giỏ hàng!</li>                  
                </ul>
            </div>
        </p>
    }
</div>
